/* основные */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1410px;
    margin: auto;
}

.container--head {
    max-width: 1500px;
    margin: auto;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

html {
    font-family: 'Montserrat-Regular', sans-serif;
}

body{
    background: url(../img/promo/bg-promo.png) no-repeat center / cover;
    background-position: center;
}

/* 
    font-family: 'Gilroy-Regular', sans-serif;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Montserrat-Regular', sans-serif;
    font-family: 'Montserrat-Medium', sans-serif;
    font-family: 'Montserrat-Bold', sans-serif;
}
*/

/* Голова */
.header__block{
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
}

.header__block::before{
    content: '';
    background: url(../img/header/tomatoes.png) no-repeat right;
    width: 322px;
    height: 214px;
    position: absolute;
    right: 0px;
    top: -10px;
    z-index: -1;
}

.header__block__info{
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-bottom: 2px solid rgba(255, 153, 0, 0.5);
    border-radius: 50px;

}

.card__head{
    display: flex;
    color: #000000;
    text-decoration: none;
    align-items: center;
    position: relative;
}

.card__head:hover{
    color: #FF9900;
    transition: 0.5s;
}

.card__head:not(:last-child)::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    opacity: 0.5;
    background: #FF9900;
    transform: rotate(90deg);
    right: -70px;
}

.circle__head{
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
}

.card__head__text{
    max-width: 300px;
    font-size: 18px;
}

.circle__link--phone{
    font-family: 'Montserrat-Bold', sans-serif;
}

/* навигация */

.header__block__nav{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    align-items: center;
}

.header__nav__link{
    color: #000000;
    text-decoration: none;
}

.header__nav__link:hover{
    color: #FF9900;
    transition: 0.5s;
}

.header__nav__link--catalog{
    background: url(../img/header/arrow-down.svg) no-repeat right;
    padding-right: 15px;
    cursor: pointer;
}

.header__nav__link--cazan{
    background: url(../img/header/cazan.png) no-repeat left;
    padding-left: 25px;
}


.button__shopping{
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 50px;
    background: #FF9900 url(../img/header/shopping-cart.png) no-repeat right 15px top 3px;
    border-radius: 25px;
    color: #ffffff;
    font-family: 'Montserrat-Bold', sans-serif;
    border: none;
    text-align: center;
    align-items: center;
    position: relative;
}

.button__shopping__numbers{
    position: absolute;
    background: #000000;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -10px;
}

.button__shopping:hover{
    background: #FF4D00 url(../img/header/shopping-cart.png) no-repeat right 15px top 3px;
    transition: 0.5s;
    position: relative;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
}

.button__shopping:hover::before {
    display: flex;
}

.button__shopping::before{
    content: '';
    width: 132px;
    height: 34px;
    background: transparent;
    position: absolute;
    border: 2px solid #FF4D00;
    top: -3px;
    left: -4px;
    border-radius: 25px;
    display: none;
}

.catalog {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #ffffff;
    padding: 20px;
    margin: 5px;
    left: 26%;
    top: -5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 10px rgba(255, 76, 0, 0.8);
}

.header__nav__link--catalog:hover > .catalog{
    display: flex;
    transition: 0.5s;
}

.catalog__link{
    padding: 5px;
}

/* promo */
.promo{
    background: url(../img/vector.png) no-repeat bottom right;
    padding-bottom: 30px;
}
.promo__block{
    margin-top: 80px;
    margin-bottom: 50px;
}

.promo__title::before{
    content: '';
    position: absolute;
    background: url(../img/promo/pizza.png) no-repeat center;
    width: 700px;
    height: 700px;
    right: 95px;
    top: 180px;
    border-radius: 50%;
}

.promo__title::after{
    content: '';
    position: absolute;
    background: url(../img/promo/smoke-bottom.png) no-repeat center;
    width: 700px;
    height: 700px;
    right: 95px;
    top: 180px;
    border-radius: 50%;
    transform: rotate(180deg);
}

.promo__block::before{
    content: '';
    position: absolute;
    width: 410px;
    height: 303px;
    background: url(../img/promo/steak.png) no-repeat left;
    left: 0;
    z-index: -1;
}

.promo__title{
    color: #392219;
    font-size: 72px;
    font-family: 'Gilroy-Bold', sans-serif;
    max-width: 880px;
}

.promo__title__span{
    color: #FF9900;
    text-shadow: 4px -3px 1px #111, 2px 2px 1px #999;
}

.promo__info{
    display: flex;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.money{
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.money__text{
    font-size: 20px;
}

.money__text__span{
    font-family: 'Montserrat-Bold', sans-serif;
}

.gift{
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.gift__title{
    color: #D39254;
    font-size: 24px;
    font-family: 'Montserrat-Bold', sans-serif;
    padding-right: 40px;
    background: url(../img/promo/gift.png) no-repeat left 42% top;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gift__block{
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}

.gift__box{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.gift__box__title{
    margin-left: 50px;
    max-width: 200px;
    font-size: 24px;
}

.gift__buttons{
    margin-top: 25px;
    margin-bottom: 25px;
}

.button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}

.button--primary{
    background: #FF9900;
    color: #ffffff;
    cursor: pointer; 
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}

.button--primary:hover{
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    transition: 0.5s;
    font-family: 'Montserrat-Bold', sans-serif;
}

.gift__button::before{
    content: '';
    width: 390px;
    height: 42px;
    background: transparent;
    position: absolute;
    border: 2px solid #FF4D00;
    top: -3px;
    left: -4px;
    border-radius: 25px;
    display: none;
}

.gift__button:hover::before{
    display: flex;
}

.button--secondary{
    background: transparent;
    color: #CD823B;
    cursor: pointer;
    text-decoration:underline;
}

.button--secondary:hover{
    background: #FF9900;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    transition: 0.5s;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
}

.gift__button{
    margin-right: 10px;
}

.gift__title::before{
    content: '';
    background: url(../img/promo/thyme.png) no-repeat right;
    position: absolute;
    width: 343px;
    height: 230px;
    right: 0;
}

/* выгода */
.benefit {
    background: #ffffff;
    margin-bottom: 30px;
    position: relative;
}

.benefit::before{
    content: '';
    position: absolute;
    background: url(../img/promo/pepper.png);
    width: 390px;
    height: 292px;
    right: 3%;
    top: -80%;
}

.benefit__cards{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.benefit__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit__circle{
    width: 100px;
    height: 100px;
    border: 1px solid #FF9900;
    border-radius: 50px;
}

.benefit__card__titel{
    margin-top: 25px;
    font-size: 24px;
    font-family: 'Gilroy-Regular', sans-serif;
}

.benefit__circle--one{
    background: url(../img/benefit/payment.svg) no-repeat center;
}

.benefit__circle--two{
    background: url(../img/benefit/cauldron.svg) no-repeat center;
}

.benefit__circle--three{
    background: url(../img/benefit/discount.svg) no-repeat center;
}

.benefit__circle--four{
    background: url(../img/benefit/comment.svg) no-repeat center;
}

/* feedback section */
.section__title{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 48px;
}

.section__title__bold{
    font-family: 'Gilroy-Bold';
}

.section__title__info{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 24px;
}

.feedback{
    background: #ffffff url(../img/vector.png) no-repeat bottom right;
    position: relative;
}

.feedback__block{
    display: flex;
    padding-top: 53px;
    margin-bottom: 50px;
}

.feedback::before{
    content: '';
    width: 240px;
    height: 242px;
    background: url(../img/feedback/tomatos.png) no-repeat center;
    position: absolute;
    right: 0px;
    bottom: -70px;
}

.feedback__block__img{
    background: url(../img/feedback/man.png) no-repeat center bottom -50px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.feedback__img__title{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
}

.feedback__img__text{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 18px;
}

.feedback__block__box{
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.feedback__block__box--title{
    width: 213px;
}

.feedback__block__img__item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 60px;
    margin-right: -80px;
}

.feedback__block__info{
    display: flex;
    flex-direction: column;
}

.feedback__block__info__title{
    max-width: 627px;
}

.feedback__block__info__title__info{
    text-align: end;
    margin-top: -40px;
    padding-bottom: 40px;
    font-size: 22px;
    margin-right: 10px;
}

.feedback__block__info__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.feedback__block__info__card{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
}

.feedback__card__head{
    display: flex;
    align-items: center;
}

.feedback__card__head__title{
    margin-left: 40px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    font-weight: normal;
    max-width: 186px;
}

.feedback__card__head__img__box{
    width: 50px;
    height: 50px;
    background: #FF9900;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback__card__bottom{
    align-items: center;
    text-align: center;
}

.feedback__card__text{
    font-family: 'Gilroy-Regular', sans-serif;
    max-width: 294px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.feedback__card__link{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 18px;
    color:#FF9900;
    padding: 5px;
    border-radius: 10px;
}

/* installment */

.installment{
    background: #ffffff;
    position: relative;
}

.installment::after{
    content: '';
    width: 200px;
    height: 150px;
    background: url(../img/installment/terminal.png) no-repeat center;
    background-size: 200px;
    position: absolute;
    left: 0px;
    top: 24%;
}

.installment::before{
    content: '';
    width: 200px;
    height: 262px;
    background: url(../img/installment/tank.png) no-repeat center;
    right: 0px;
    top: 0px;
    position: absolute;
    top: 5%;
}

.installment__block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.installment__block__card__img{
    width: 127px;
    display: flex;
}

.installment__block__title{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-weight: normal;
    background: url(../img/installment/discount.svg) no-repeat left;
    padding-left: 40px;
}

.installment__block__cards{
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;    
    width: 100%;
}

.installment__block__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.installment__card__time{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.installment__card__title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.installment__block__buttons{
    position: relative;
}

.installment__block__buttons::before{
    content: '';
    width: 247px;
    height: 42px;
    background: transparent;
    position: absolute;
    border: 2px solid #FF4D00;
    top: -3px;
    left: -4px;
    border-radius: 25px;
    display: none;
}

.installment__block__buttons:hover::before{
    display: flex;
}

/* original */
.original{
    position: relative;
    background: url(../img/vector-bg.png) no-repeat bottom;
    padding-bottom: 100px;
    background-size: contain;
}

.original__block{
    padding-top: 80px;
}

.original::after{
    content: '';
    background: url(../img/original/peper.png) no-repeat center;
    width: 300px;
    height: 292px;
    position: absolute;
    left: 0;
    top: 8%;
}

.original::before{
    content: '';
    background: url(../img/original/onion.png) no-repeat center;
    width: 190px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 8%;
}

/* head */

.original__block__head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.original__block__head__title{
    max-width: 1097px;
}

.original__text{
    font-size: 18px;
    font-family: 'Gilroy-Regular', sans-serif;
}

.rare__info{
    margin-top: 20px;
    margin-bottom: 20px;
}

.original__block__head__box{
    border: 2px solid #FF9900;
    border-radius: 50%;
}


.original__block__head__box--large{
    width: 176px;
    height: 176px;
}

.manager__box{
    position: relative;
}

.manager__box::after{
    content: 'Алексей, управляющий';
    font-size: 24px;
    font-family: 'Gilroy-Regular', sans-serif;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
}

.manager__box::before{
    content: '';
    position: absolute;
    background:url(../img/original/talk.png) no-repeat center;
    width: 285px;
    height: 56px;
    margin-top: 125px;
    margin-left: 172px;
}

/* body */
.original__block__body{
    margin-top: 20px;
    display: flex;
}

.original__block__body::after{
    content: '';
    width: 462px;
    height: 489px;
    background: url(../img/original/steak.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 35%;
}

.original__block__body::before{
    content: '';
    width: 222px;
    height: 350px;
    background: url(../img/original/seasoning.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 35%;
}

/* left */
.original__block__body__left{
    flex-basis: 30%;
    position: relative;
    display: flex;
}

.original__block__body__left::before{
    content: 'Полностью отлит вручную из чугунна без сварки, примесей и прочих химикатов';
    position: absolute;
    width: 303px;
    height: 87px;
    font-size: 18px;
    font-family: 'Gilroy-Regular', sans-serif;
    top: 8%;
    left: 68%;
    text-align: center;
}

.original__block__body__left__img{
    width: 176px;
    height: 176px;
}
/* center */
.original__block__body__center{
    flex-basis: 40%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}
.button__original{
    margin:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.button__original--pr{
    margin: auto;
    margin-bottom: 30px;
}

.button__original--ct--sec{
    margin-bottom: 20px;
}
/* right */
.original__block__body__right{
    flex-basis: 40%;
}

.original__right__card{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.original__card__text{
    margin-left: 20px;
}

.original__block__head__box--small{
    width: 110px;
    height: 110px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.original__card__title{
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
    max-width: 279px;
}

/* bottom */

.original__block__bottom{
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-top: 50px;
}

.original__block__bottom::before{
    content: '';
    width: 153px;
    height: 364px;
    background: url(../img/original/kazan-bg.png) no-repeat;
    position: absolute;
    right: 0;
    bottom: 2%;
}

/* bottom head */
.original__block__bottom__head{
    display: flex;
    align-items: center;
    padding: 25px;
}

.original__block__bottom__head__text__title{
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 48px;
    max-width: 940px;
    margin-left: -25px;
}

.original__block__bottom__head__text__title__strong{
    color: #FF4D00;
}

.original__block__bottom__head__text__title__item{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 24px;
    max-width: 904px;
    margin-top: 15px;
}

.original__block__bottom__head__img__item{
    width: 400px;
}
/* bottom foot */
.original__block__bottom__foot{
    display: flex;
    padding: 25px;
    align-items: center;
    margin-bottom: 100px;
}

.original__block__bottom__foot__text{
    display: flex;
    flex-direction: column;
}

.original__block__bottom__foot__text__title{
    margin-bottom: 20px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

.original__block__bottom__foot__text__item__strong{
    font-family: 'Gilroy-SemiBold', sans-serif;
}

.original__block__bottom__foot__text__item{
    max-width: 673px;
}

.original__block__bottom__foot__img__item{
    max-width: 230px;
}

.original__block__bottom__foot__marks{
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
}

.original__block__bottom__foot__mark{
    margin: 15px;
}

/* promotion */
.promotion{
    background: #FF9900;
}

.promotion__block{
    padding-top: 20px;
    padding-bottom: 20px;
}

.promotion__title{
    font-size: 48px;
    font-family: 'Gilroy-Regular', sans-serif;
    color: #ffffff;
    font-weight: normal;
}

.promotion__title__strong{
    font-family: 'Gilroy-Bold', sans-serif;
}

/* kazans */
.kazans{
    padding-top: 100px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    padding-bottom: 202px;
}

.kazans__title{
    padding-bottom: 50px;
}

.kazans::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 242px;
    background: url(../img/kazans/tomats.png) no-repeat center;
    right: 0px;
}

.sub__title__section{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 48px;
}

.kazans__title__buttons{
    margin-top: 40px;
    margin-left: 150px;
}

.sub__button{
    padding: 5px;
    font-size: 24px;
    font-family: 'Gilroy-Regular', sans-serif;
}

.button__kazan__title{
    margin-right: 50px;
}

.kazans__quantity{
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.kazans__quantity__block{
    width: 67px;
    height: 67px;
    border: 1px solid #FF9900;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.kazans__quantity__title{
    margin-left: 20px;
}

.kazans__quantity__title__text{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 24px;
    font-weight: normal;;
}

.kazans__quantity__title__text__strong{
    font-family: 'Gilroy-Bold', sans-serif;
}
/* slider */

.KazanSlider-swiper {
    width: 290px;
    height: 200px;
    border-radius: 50px;
}

.KazanSlider-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.KazanSlider-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.KazanSlider-slide--one{
    background: rgba(255, 76, 0, 1);
}

.KazanSlider-slide--two{
    background: rgba(255, 76, 0, 0.5);
}

.KazanSlider-slide--three{
    background: rgba(255, 76, 0, 0.2);
}

.KazanSlider-button-next{
    background: #ffffff;
    border-radius: 50%;
    position: relative;
}

.KazanSlider-button-prev{
    background: #ffffff;
    border-radius: 50%;
    position: relative;
}

.KazanSlider-button-prev::after{
    display: none;
}

.KazanSlider-button-next::after{
    display: none;
}

.KazanSlider-button-next::before{
    content: '';
    background: url(../img/kazans/expand-button1.svg) no-repeat center;
    width: 20px;
    height: 20px;
}

.KazanSlider-button-prev::before{
    content: '';
    background: url(../img/kazans/expand-button2.svg) no-repeat center;
    width: 20px;
    height: 20px;
}

/* cards */

.kazans__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.kazans__card{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
}

.kazans__card__titles{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.kazans__card__title{
    padding-bottom: 5px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.kazans__card__pepols{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 14px;
    padding-left: 28px;
    background: url(../img/kazans/user.svg) no-repeat left;
}

.kazans__card__content{
    background: #F8F8F8;
    border-radius: 10px;
    padding: 10px;
}

.kazans__card__content__item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a1a1a1;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.kazans__card__content__item::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #FF9900;
    top: 38%;
    left: -4px;
}

.kazans__card__content__item__text{
    font-size: 14px;
    font-family: 'Gilroy-Regular', sans-serif;
}

.kazans__card__content__item__title{
    font-size: 14px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-weight: normal;
}

.kazan__card__price{
    display: flex;
    align-items: center;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.kazan__card__price--off__title{
    text-decoration: line-through red;
    font-size: 14px;
    margin-right: 10px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    opacity: 0.5;
}

.kazan__card__price--on{
    display: flex;
    align-items: center;
    border: 1px solid #FF9900;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.kazan__card__price--on__title{
    font-size: 24px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-weight: normal;
}

.kazan__card__price--on__text{
    max-width: 141px;
    font-size: 12px;
    font-family: 'Gilroy-Regular', sans-serif;
    text-align: left;
    padding-left: 20px;
}

.kazan__card__buttons{
    display: flex;
    justify-content: space-around;
}

.kazan__card__button__shopping{
    display: flex;
    background: #FF9900;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.kazan__card__button{
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
}

.kazan__card__button__shopping:hover{
    background: #FF4D00;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    transition: 0.5s;
}

.kazan__card__button::before{
    content: '';
    width: 240px;
    height: 47px;
    background: transparent;
    position: absolute;
    border: 2px solid #FF4D00;
    top: -3px;
    left: -4px;
    border-radius: 25px;
    display: none;
}

.kazan__card__button:hover::before{
    display: flex;
}

.kazan__card__button__shopping__plus{
    position: absolute;
    background: #000000;
    width: 25px;
    height: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 18px;
    color: #ffffff;
    top: -5px;
    right: -5px;
}

/* set */

.set__block{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    padding: 30px;
    margin-top: -140px;
    position: relative;
    margin-bottom: 80px;
}

.set__block__info__title{
    font-family: 'Montserrat-Bold', sans-serif;
    max-width: 340px;
    font-size: 24px;
    font-weight: normal;
}

.set__block__info__text{
    max-width: 428px;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Montserrat-Regular', sans-serif;
}

.set__block__info__title{
    margin-bottom: 20px;
}

.set__box__card__img{
    width: 50px;
    height: 45px;
}

.set__block__box__cards{
    display: flex;
}

.set__block__box__card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 140px;
    height: 135px;
}

.set__box__card__title{
    max-width: 117px;
    margin-top: 10px;
}

.set__block__info{
    position: relative;
}

.set__block__info::after{
    position: absolute;
    content: '';
    width: 185px;
    height: 2px;
    background: #808080;
    transform: rotate(90deg);
    top: 50%;
    right: -15%;
}

/* over */

.over__block{
    margin-top: 50px;
    margin-bottom: 100px;
}

.over__section__title{
    max-width: 767px;
}